@font-face {
  font-family: Karla;
  src: url('/fonts/static/Karla-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Karla;
  src: url('/fonts/static/Karla-Bold.ttf');
  font-weight: 800;
}
